<script type="text/javascript" src="//upcdn.b0.upaiyun.com/libs/jquery/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="//cdn.bootcss.com/jquery_lazyload/1.9.7/jquery.lazyload.min.js"></script>
<script src="https://cdn.rawgit.com/ClassicOldSong/bPlayer/master/dist/bplayer.min.js"></script>
<script type="text/javascript" src="/static/{{ system_config.Theme }}/js/index.js"></script>
<script src="https://cdn.rawgit.com/ClassicOldSong/fc39415c82707eb9f0ac655a0f4eebba/raw/98e4bb06fa8559411e54de425f6ba476ab5deeec/bp_init.js"></script>
{% include "include/foot.html" %}
</body>
</html>