<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page_info.title=="index" %}
        {% set title=system_config.Project_Name %}
    {% else %}
        {% set title=page_info.title %}
    {% endif %}
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="{{ system_config.Project_URL }}/static/user_file/favicon.ico">
    <link href="//cdn.bootcss.com/highlight.js/9.10.0/styles/github.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/{{ system_config.Theme }}/css/screen.css">
    {% include "include/head.html" ignore missing %}
</head>