<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_info.title }} - {{ system_config.Project_Name }}</title>
        <link rel="shortcut icon" href="{{ system_config.Project_URL }}/user_file/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/{{ system_config.Theme }}/css/screen.css">
    {% include "include/head.html" %}
</head>