<footer>
    <div id="footer" class="cf">
        <div class="social-wrapper">
            <a class="social rss" target="blank" href="/rss">
                <i class="icon icon-rss"></i>
            </a>
        </div>
        <div>
            Theme is <span class="codename">Lpisme</span> by <a href="https://www.linpx.com/"
                                                                target="_blank">Chakhsu</a> /
            Powered by SmartBlog
        </div>
        <div>
            {{ system_config.Project_Name }} &copy; {{ now_time|datetimeformat("%Y") }}
        </div>
    </div>


</footer>
<script src="/static/{{ system_config.Theme }}/functions.js"></script>
<script src="//cdn.bootcss.com/fastclick/1.0.6/fastclick.min.js"></script>
<script src="//cdn.bootcss.com/prism/9000.0.1/prism.min.js"></script>
<script src="https://cdn.rawgit.com/ClassicOldSong/bPlayer/master/dist/bplayer.min.js"></script>
<script src="https://cdn.rawgit.com/ClassicOldSong/fc39415c82707eb9f0ac655a0f4eebba/raw/98e4bb06fa8559411e54de425f6ba476ab5deeec/bp_init.js"></script>
{% include "include/foot.html" ignore missing %}