<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    {% if page_info.title=="index" %}
        <title>{{ system_config.Project_Name }}</title>
    {% else %}
        <title>{{ page_info.title }}</title>
    {% endif %}
    <link href="//cdn.bootcss.com/prism/9000.0.1/themes/prism.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/{{ system_config.Theme }}/style.css">
{% include "include/head.html" ignore missing %}
</head>