{% include system_config.Theme+"/public/head.html" %}

<body class="{% if now_page!=1 %}paged archive-template {% else %}home-template {% endif %}nav-closed">

{% include system_config.Theme+"/public/menu.html" %}
<span class="nav-cover"></span>
<div class="site-wrapper">
    <header class="main-header" data-original="{{ system_config.Cover_Image }}">
        <nav class="main-nav overlay clearfix">
            <a class="menu-button icon-menu" href="#"><span class="word">菜单</span></a>
        </nav>
        <div class="vertical">
            <div class="main-header-content inner">
                <h1 class="page-title">{{ system_config.Project_Name }}</h1>
                <h2 class="page-description">{{ system_config.Project_Description }}</h2>
            </div>
        </div>
        <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span
                class="hidden">下拉显示</span></a>
    </header>

    <div class="extra-pagination inner">
        <nav class="pagination" role="navigation">
            {% if now_page!=1 %}
                <a class="newer-posts"
                   href="{% if static %}/index_{{ last_page }}.html{% else %}/index/p/{{ last_page }}{% endif %}">&larr;
                    上一页</a> {% endif %}
            <span class="page-number">第 {{ now_page }} 页 ⁄ 共 {{ page_row }} 页</span>
            {% if now_page!=page_row and page_row !=1 %}
                <a class="older-posts"
                   href="{% if static %}/index_{{ next_page }}.html{% else %}/index/p/{{ next_page }}{% endif %}">下一页 &rarr;</a> {% endif %}
        </nav>
    </div>

    <main id="content" class="content" role="main">
        {% for page_info in page_list %}
        <article class="post">
            <header class="post-header">
                <h2 class="post-title"><a href="/{{ page_info.name }}{% if static %}.html{% endif %}">{{ page_info.title }}</a></h2>
            </header>
            <section class="post-excerpt"><p>{{ page_info.excerpt }}<a class="read-more"
                                                                       href="/{{ page_info.name }}{% if static %}.html{% endif %}">&raquo;</a>
            </p>
            </section>
            <footer class="post-meta">
                <img class="author-thumb" src="{{ system_config.Author_Image }}" nopin="nopin">{{ page_info.time }}
            </footer>
        </article>
        {% endfor %}

        <nav class="pagination" role="navigation">
            {% if now_page!=1 %}
                <a class="newer-posts"
                   href="{% if static %}/index_{{ last_page }}.html{% else %}/index/p/{{ last_page }}{% endif %}">&larr;
                    上一页</a> {% endif %}
            <span class="page-number">第 {{ now_page }} 页 ⁄ 共 {{ page_row }} 页</span>
            {% if now_page!=page_row and page_row !=1 %}
                <a class="older-posts"
                   href="{% if static %}/index_{{ next_page }}.html{% else %}/index/p/{{ next_page }}{% endif %}">下一页 &rarr;</a> {% endif %}
        </nav>

    </main>
    <footer class="site-footer clearfix">
        <section class="copyright"><a href="/">{{ system_config.Project_Name }}</a></section>
        <section class="poweredby">Powered by SmartBlog , Theme By Casper</section>
    </footer>

</div>
{% include system_config.Theme+"/public/foot.html" %}