{% include system_config.Theme+"/public/head.html" %}

<body class="{% if now_page!=1 %}paged archive-template {% else %}home-template {% endif %}nav-closed">

{% include system_config.Theme+"/public/menu.html" %}
<span class="nav-cover"></span>
<div class="site-wrapper">
    <header class="main-header" data-original="{{ template_config.Cover_Image }}">
        <nav class="main-nav overlay clearfix">
            <a class="menu-button icon-menu" href="#"><span class="word">菜单</span></a>
        </nav>
        <div class="vertical">
            <div class="main-header-content inner">
                <h1 class="page-title">{{ system_config.Project_Name }}</h1>
                <h2 class="page-description">{{ system_config.Project_Description }}</h2>
            </div>
        </div>
        <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span
                class="hidden">下拉显示</span></a>
    </header>

    <div class="extra-pagination inner">
        {% include system_config.Theme+"/public/page_nav.html" %}
    </div>

    <main id="content" class="content" role="main">
        {% for page_info in page_list %}
        <article class="post">
            <header class="post-header">
                <h2 class="post-title"><a href="/{{ page_info.name }}{% if static %}.html{% endif %}">{{ page_info.title }}</a></h2>
            </header>
            <section class="post-excerpt"><p>{{ page_info.excerpt }}<a class="read-more"
                                                                       href="/{{ page_info.name }}{% if static %}.html{% endif %}">&raquo;</a>
            </p>
            </section>
            <footer class="post-meta">
                <img class="author-thumb" src="{{ system_config.Author_Image }}" nopin="nopin">{{ page_info.time }}
            </footer>
        </article>
        {% endfor %}

        {% include system_config.Theme+"/public/page_nav.html" %}

    </main>
    <footer class="site-footer clearfix">
        <section class="copyright"><a href="/">{{ system_config.Project_Name }}</a> &copy; {{ now_time|dateformat("%Y") }}</section>
        <section class="poweredby">Powered by SmartBlog , Theme By Casper</section>
    </footer>

</div>
{% include system_config.Theme+"/public/foot.html" %}