{% include system_config.Theme+"/public/head.html" %}
<body class="post-template nav-closed">
{% include system_config.Theme+"/public/menu.html" %}
<span class="nav-cover"></span>
<div class="site-wrapper">
    <header class="main-header post-head no-cover">
        <nav class="main-nav clearfix">
            <a class="menu-button icon-menu" href="#"><span class="word">菜单</span></a>
        </nav>
    </header>

    <main class="content" role="main">
        <article class="post">

            <header class="post-header">
                <h1 class="post-title">{{ page_info.title }}</h1>
                <section class="post-meta">
                    <time class="post-date" datetime="{{ page_info.time }}">{{ page_info.time }}</time>
                </section>
            </header>

            <section class="post-content">
                {{ content|safe }}
            </section>

            <footer class="post-footer">

                <figure class="author-image">
                    <img class="img" src="{{ system_config.Author_Image }}">
                </figure>

                <section class="author">
                    <h4><a href="">{{ system_config.Author_Name }}</a></h4>
                    <p>{{ system_config.Author_Introduction }}</p>
                </section>

                {% include "include/comment_box.html" ignore missing %}

            </footer>

        </article>
    </main>

    <footer class="site-footer clearfix">
        <section class="copyright"><a href="/">{{ system_config.Project_Name }}</a></section>
        <section class="poweredby">Powered by SmartBlog , Theme By Casper</section>
    </footer>

</div>
{% include system_config.Theme+"/public/foot.html" %}