<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/{{ system_config.Theme }}/style.css">
    <link href="//cdn.bootcss.com/highlight.js/9.10.0/styles/github.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ system_config.Project_URL }}/static/user_file/favicon.ico">
    {% if page_info.title=="index" %}
        <title>{{ system_config.Project_Name }}</title>
    {% else %}
        <title>{{ page_info.title }}</title>
    {% endif %}
    <meta name="description" content="{{ system_config.Project_Description }}">
{% include "include/head.html" ignore missing %}
</head>