<header>
    <div class="site-name"><a href="{{ system_config.Project_URL }}">{{ system_config.Project_Name }}</a></div>
    <div class="site-subname">{{ system_config.Project_Description }}</div>
    <div>
        <nav class="nav-menu">
            <ul>
                {% for item in menu_list %}
                    <li><a href="{{ item.url }}">{{ item.name }}</a></li>|
                {% endfor %}
                <li><a href="/feed">订阅</a></li>
            </ul>

        </nav>
    </div>
</header>