<!DOCTYPE html>
<html>

{% include system_config.Theme+"/public/head.html" %}

<body class="null" gtools_scp_screen_capture_injected="true">

{% include system_config.Theme+"/public/menu.html" %}

<div class="container">
    <div class="index-wrapper">

        <div class="index-posts index-posts-onecol cf">

            {% for page_info in page_list %}

                <article class="index-post index-post-onecol cf">

                    <div class="index-post-inner">
                        <div class="index-post-header cf">
                            <div class="index-post-date">{{ page_info.time }}</div>
                            <div class="index-post-title">
                                <a href="/{{ page_info.name }}{% if static %}.html{% endif %}" title="{{ page_info.title }}">{{ page_info.title }}</a>
                            </div>
                        </div>

                        <div class="index-post-content">
                            {{ page_info.excerpt }}
                        </div>

                        {% if "image" in page_info %}
                            <div class="index-post-thumb">
                                <a class="index-post-cover" href="/{{ pageinfo.name }}{% if static %}.html{% endif %}">
                                    <img class="thumb" src="{{ page_info.image }}">
                                </a>
                            </div>
                        {% endif %}

                        <div class="index-post-meta cf">
                            <div class="index-post-category"><a href="/{{ page_info.name }}{% if static %}.html{% endif %}">Read more </a>
                            </div>
                        </div>

                    </div>

                </article>

            {% endfor %}

        </div>

        <div class="index-pagenav index-pagenav-onecol cf">
            <div class="page-nav">
                <div class="page-prev left" title="上一页">
                    {% if now_page!=1 %}
                        <a class="prev" href="{% if static %}/index_{{ last_page }}.html{% elseif %}/index/p/{{ last_page }}{% endif %}"><i class="icon icon-left"></i> Previous</a>
                    {% endif %}
                </div>
                <div class="page-next right" title="下一页">
                    {% if now_page!=page_row and page_row !=1 %}
                        <a class="next" href="{% if static %}/index_{{ next_page }}.html{% elseif %}/index/p/{{ next_page }}{% endif %}">Next <i class="icon icon-right"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</div>

{% include system_config.Theme+"/public/foot.html" %}

</body>
</html>