<!DOCTYPE html>
<html>

{% include system_config.Theme+"/public/head.html" %}

<body class="null" gtools_scp_screen_capture_injected="true">

{% include system_config.Theme+"/public/menu.html" %}

<div class="container">
    <div class="wrapper main" role="main">
        <article class="post" itemscope="">
            <h1 class="post-title"><a
                    href="/{{ page_info.name }}{% if static %}.html{% endif %}">{{ page_info.title }}</a></h1>
            <div class="post-meta">
                <span datetime="{{ page_info.time }}">{{ page_info.time }}</span>
            </div>
            <div class="post-content cf" itemprop="articleBody">
                {{ content | safe }}
            </div>
        </article>

        <div id="comments" class="cf">
            {% include "include/comment_box.html" ignore missing %}
        </div>

    </div>
</div>

{% include system_config.Theme+"/public/foot.html" %}

</body>
</html>