<!DOCTYPE html>
<html>
{% include system_config.Theme+"/public/head.html" %}
<body>
{% include system_config.Theme+"/public/menu.html" %}

{% for page_info in page_list %}
    <article class="post">
        <h1 class="post-title"><a href="/{{ page_info.name }}">{{ page_info.title }}</a></h1>
        <span class="post-time">{{ page_info.time }}</span>
        <div class="post-content"><p>{{ page_info.excerpt }}<a href="/{{ page_info.name }}">&raquo;</a></p></div>
    </article>
{% endfor %}

<p>
    {% if now_page!=1 %}
        <span class="prev-page"><a href="/index/p/{{ last_page }}">上一页</a></span>
    {% endif %}
    {% if now_page!=page_row and page_row !=1 %}
        <span class="next-page"><a href="/index/p/{{ next_page }}">下一页</a></span>
    {% endif %}

    {% include system_config.Theme+"/public/foot.html" %}
</body>
</html>