<!DOCTYPE html>
<html>
{% include system_config.Theme+"/public/head.html" %}
<body>
{% include system_config.Theme+"/public/menu.html" %}
<article>
    <h1 class="post-title"><a href="/{{ page_info.name }}{% if static %}.html{% endif %}">{{ page_info.title }}</a></h1>
    <span class="post-time">{{ page_info.time }}</span>
    <div class="post-content">
        {{ content | safe }}
    </div>
</article>
<article>
    {% include "include/comment_box.html" ignore missing%}
</article>

{% include system_config.Theme+"/public/foot.html" %}
</body>
</html>